<head>
<title>{{site.title}}</title>
<!-- vim: nospell
-->
<meta http-equiv="Access-Control-Allow-Origin" content="*"/>
<meta http-equiv="Origin" content="http://localhost:8080"/>
<meta charset="utf8"/>
<link rel="icon" href="//0.0.0.0:8088/favicon.ico" type="image/png">
<link href="https://cdn.jsDelivr.net/gh/iglake/cssjs@v1.3/css/style.css" rel="stylesheet" type="text/css">
<link href="style.css" rel="stylesheet" type="text/css" media="all">
<!--
<link href="https://cdn.statically.io/gh/iglake/cssjs/master/css/style.css" rel="stylesheet" type="text/css">
<link href="https://cdn.jsDelivr.net/gh/iglake/cssjs@v1.3/css/style.css" rel="stylesheet" type="text/css">
-->
<style>
body {
 background-image: URL({{site.pgw}}{{site.bgimg}});
 background-size: auto 100vh;
 background-position: center;
}
.panel { float: right; }
.panel img { max-height: 1.4rem; }
#editor { width: 100%; height: 24em;}
</style>
</head><body>
<div class=content>
<div class=panel><img src=img/edit.png><img alt="💾" src=img/save.png><img src=img/share.png><img src=img/pin.png></div>
{{content}}
</div><br>
<div class=content name=editor>
<div class=panel><button title="💾" onclick="onclickSave(event)">save</button><button onclick="onclickPublish(event)">publish</button></div>
Editor <small><a id=new_url href=></a></small><br><textarea id=editor>
</textarea>
</div>
